body {
    padding-left: 80px;
    padding-right: 80px;
    font-family: Roboto,'Open Sans', sans-serif;
    background-color: #1f2937;
    color: white;
}

a {
    text-decoration: none;
}

li, ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* NAV-BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-link, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO-SECTION */

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 24px;
    color: #F9FAF8;
    border: 0px;
    max-width: fit-content;
}

.hero-section {
    display: flex;
    gap: 48px;
    margin-top: 80px;
}

.hero-section-left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.hero-section-right {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero-section-right>img {
    max-width:100%;
    height: auto;
}

