body {
    font-family: Roboto,'Open Sans', sans-serif;
    color: white;
    padding:0px;
    margin:0px;
}

a {
    text-decoration: none;
}

li, ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* NAV-BAR */

nav {
    background-color: #1f2937;
    padding-left: 80px;
    padding-right: 80px;    
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-link, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO-SECTION */

h1 { 
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 24px;
    color: #F9FAF8;
    border: 0px;
    max-width: fit-content;
}

.hero-section {
    background-color: #1f2937;       
    padding: 80px;
    display: flex;
    gap: 48px;
}

.hero-section-left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.hero-section-right {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero-section-right>img {
    max-width:100%;
    height: auto;
}

/* CARD-SECTION */

.card-section {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding:0px;
    margin:0px;
    margin-bottom: 40px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    flex: auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-element {
    width: 120px;
    height: 120px;
    flex: auto;
    border: solid #3882F6 2px;
    border-radius: 16px;
}

.card>p {
    color: #1F2937;
    display: flex;
    flex: content;
    max-width: 120px;
    text-align: center;
}